* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 110vh;
}

.logo {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-weight: 600;

}
.logo a{
    text-decoration: none;
    color: rgb(136, 0, 21);
    
}
.question-container {
    width: 58rem;
    min-height: 30rem;
    padding: 70px 80px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #666;
}
/*Scores and Progress bar section*/
.header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    }

    .scoreBox, .progressBar{
        border-radius: 100px;
        padding: 10px 15px;
        border: 1px solid;
        }
     
    #questionBar {
        background-color: #559CE3;
        color:#3a3a3a;
        border-radius:5px;
        padding: 10px 15px;
        }
        
        h2 {
            text-align: center;
        }
       
.answersBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 0;
    grid-gap: 15px;
    }
    
    .answersBox span{
    background-color:#559CE3;
    color: #3a3a3a;
    border-radius:5px;
    border:1px solid; 
    padding: 15px;
    }

    .navButtons {
        display:flex;
        justify-content: space-between;
        font-family: Lato sans-serif;
        }
        
        .navButtons button {
        background-color: rgb(136, 0, 21);
        border-radius: 5px;
        padding: 7px 15px;
        color: #fff;
        border: 0;
        outline: none;
        font-size: 20px;
        font-family: Lato sans-serif;
        }

        button a {
            text-decoration: none;
            color: #fff;
        }